@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background-color: hsl(60, 20%, 98%);
        --text-color: hsl(205, 23%, 29%);
        --primary-color: hsl(25, 89%, 73%);
        --secondary-color: hsl(166, 23%, 60%);
    }
    @media (prefers-color-scheme: dark) {
        :root {
            --background-color: hsl(205, 23%, 29%);
            --text-color: hsl(60, 20%, 98%);
            --primary-color: hsl(25, 89%, 73%);
            --secondary-color: hsl(166, 23%, 60%);
        }
    }
}